#brand-title {
	color: #303C6C;
	font-family: "Rufina";
	font-size: 108px;
	font-weight: 700;
	line-height: 100%;
}

#brand-description {
	color: #303C6C;
	font-family: "Raleway";
	font-size: 32px;
	font-weight: 500;
}


.flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.form-row {
    margin-bottom: 5px;
}

.form-control {
	border-radius: 0;
	border-style: none;
}

textarea {
	resize: none;
}

.btn-submit {
	color: #FFFFFF;
	font-family: 'Raleway';
	font-weight: 500;
	background-color: #303C6C;
	border-radius: 1rem;
	padding: 5px 20px;
	border-style: none;
}

.btn-submit:hover,
.btn-submit:focus {
	color: #303C6C;
	background-color: #F4976C;
}

.initial-profile {
	display: inline-block;
	width: 50px;
	height: 50px;
	min-width: 50px;
	border-radius: 50%;
	padding: 10px;
	color: #FFFFFF;
	background-color: #FAB76E;
	text-align: center;
	font-family: 'Raleway';
	font-weight: 800;
	font-size: 20px;
	margin-top: 5px;
	overflow: hidden;
}

.announcement-div {
	padding: 5%;
	margin: 30px auto;
}

.announcement-detail {
	padding: 2px;
	margin-left: 15px;
	display: inline-block;
}

.announcement-title {
	color: #303C6C;
	font-family: 'Raleway';
	font-weight: 800;
	font-size: 20px;
	line-height: 24px;
	margin-bottom: 5px;
}

.announcement-time {
	color: #000000;
	font-family: 'Raleway';
	font-size: 14px;
}

.announcement-author {
	color: #303C6C;
	font-family: 'Raleway';
	font-weight: 500;
}

.announcement-content {
	padding-left: 65px;
	text-align: justify;
	font-family: 'Raleway';
	font-size: 14px;
}

.report-content{
	font-family: Raleway;
	font-style: normal;
	font-weight: 500;
	font-size: 25px;	
	line-height: 35px;
	margin-bottom: 20px;

	color: #303C6C;
}

::-webkit-input-placeholder {
 	font-family: 'Raleway';
}

:-moz-placholder {
	font-family: 'Raleway';
}

::-moz-placeholder {
	font-family: 'Raleway';
}

:-ms-input-placeholder {
	font-family: 'Raleway';
}

@media (max-width: 576px){
	#brand-title {
		font-size: 80px;
	}

	#brand-description {
		font-size: 24px;
	}

	.announcement-div {
		padding: 10%;
	}
}