{% extends 'base/layout.html' %}
{% load static %}

{% block link %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/testimony_style.css' %}">
{% endblock %}

{% block title %}
	Testimony
{% endblock %}

{% block body %}
	{% include 'base/navbar.html' %}
	
	<div class="content-div">
		<p class="section-title text-center">TESTIMONY</p>
		<button href="#testimony-form" class="form-group btn-submit" data-toggle="collapse">Testify</button>
		<div class="collapse in" id="testimony-form">
			<form action="{% url 'testimony:add_testimony' %}" method="POST">
				{% csrf_token %}

				<div class="form-row">
					<div class="form-group col-sm-4">
						{{ form.username }}
					</div>
					<div class="form-group col-sm-8">
						{{ form.title }}
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-sm-12">
						{{ form.content }}
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-sm-12">
						<input class="form-group btn-submit float-right" type="submit" value="Post">
					</div>
				</div>		
			</form>
		</div>

		{% for testimony in testimony reversed %}
		<div class="testimony-div bg-light">
			<div class="d-flex justify-content-start">
				<div class="testimony-detail">
					<p class="testimony-title">{{ testimony.title }}</p>
					<p class="testimony-time">by <span class="testimony-author">{{ testimony.username }}</span></p>
				</div>
			</div>

			<div class="testimony-content">
				{{ testimony.content }}
			</div>
		</div>
		{% endfor %}
	</div>


	{% include 'base/footer.html' %}
{% endblock %}