{% extends 'base/layout.html' %}
{% load static %}

{% block link %}
	<link rel="stylesheet" type="text/css" href="{% static 'homepage/css/home_style.css' %}">
{% endblock %}

{% block title %}
	Home
{% endblock %}

{% block body %}
	{% include 'base/navbar.html' %}

	<div id="brand-div" class="flex-center">
		<div class="text-center">
			<p id="brand-title">pacility.</p>
			<p id="brand-description">a reporting web</p>
		</div>
	</div>

	<div class="content-div">
		<p class="section-title">ANNOUNCEMENTS</p>
		<form action="{% url 'homepage:add_announcement' %}" method="POST" id="announcement-form">
			{% csrf_token %}

			<div class="form-row">
				<div class="form-group col-sm-4">
					{{ form.username }}
				</div>
				<div class="form-group col-sm-8">
					{{ form.title }}
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-sm-12">
					{{ form.content }}
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-sm-12">
					<input class="form-group btn-submit float-right" type="submit" value="Post">
				</div>
			</div>		
		</form>

		{% for announcement in announcements reversed %}
		<div class="announcement-div bg-light">
			<div class="d-flex justify-content-start">
				<div class="initial-profile">
					{{ announcement.initial }}
				</div>
				<div class="announcement-detail">
					<p class="announcement-title">{{ announcement.title }}</p>
					<p class="announcement-time">by <span class="announcement-author">{{ announcement.username }}</span> - {{ announcement.date }} at {{ announcement.time }}</p>
				</div>
			</div>

			<div class="announcement-content">
				{{ announcement.content }}
			</div>
		</div>
		{% endfor %}
	</div>


	{% include 'base/footer.html' %}
{% endblock %}