{% extends 'base/layout.html' %}
{% load static %}

{% block link %}
<link rel="stylesheet" type="text/css" href="{% static 'report_form/css/form_style.css' %}">
{% endblock %}

{% block title %}
    Reports
{% endblock %}

{% block body %}

{% include 'base/navbar.html' %}

<div class="content-div">
    <p class="section-title">REPORT DETAILS</p>
    
    {% for reports in reports reversed %}
    {{reports.errors}}
    <div class="announcement-div bg-light">
		<div class="d-flex justify-content-start">
            <div class="report-content">
                Title       :{{reports.form_title}}<br><br>
                Location    :{{reports.location}}<br><br>
                Time        :{{reports.time}}<br><br>
                Description :{{reports.description}}<br><br>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% include 'base/footer.html' %}
{% endblock %}