<nav class="navbar navbar-expand-sm sticky-top navbar-custom">
  	<a class="navbar-brand" href="#">pacility.</a>
  	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-content">
    	<span class="navbar-toggler-icon"></span>
  	</button>
  	<div class="collapse navbar-collapse" id="nav-content">
    	<div class="navbar-nav ml-auto">
      		<a class="nav-item nav-link" href="{% url 'homepage:index' %}">Home</a>
      		<a class="nav-item nav-link" href="{% url 'report_list:report_list' %}">Report</a>
      		<a class="nav-item nav-link" href="{% url 'report_form:report_form' %}">Form</a>
      		<a class="nav-item nav-link" href="{% url 'testimony:testimony' %}">Testimony</a>
    	</div>
  </div>
</nav>